#identi.ca
tags="#freifunk #openwrt"
#ca_user="Benutzername"
#ca_pw="Passwort"


#ver="10.03.2"
#verm="backfire"
ver="12.09"
verm="attitude_adjustment"
#ver="bleeding-edge"
#verm="trunk"

#openwrt_revision="r29597"
#openwrt_revision="r29921"
#openwrt_revision="0ba42b1a9a9131dc0148adfc7171b74445aea6ca"

#luci_version="luci-0.10"
##luci_revision="7ba1c34ee6e7fc8aec97666a3f452262f4d5438d"
#luci_revision="55c7084094b69ba75f91a5a0d38f4283f28ab54c"
#packages_revision="r25315"
#packages_revision="r31281"

boards=$boards" ar71xx"
boards=$boards" atheros"
boards=$boards" au1000"
boards=$boards" brcm47xx"
boards=$boards" brcm63xx"
boards=$boards" ixp4xx"                                                   
#boards=$boards" rb532" # Broken
boards=$boards" x86"
boards=$boards" x86_kvm_guest"

##Path to webdir for package updates from the router (/etc/opkg.conf)
wwwdir="/path/to/dokument/root"
##The server name or ip for package updates from the router (/etc/opkg.conf)
servername="ip.addr.from.http.server"
user=openwrt

#########################Freifunk Minimal##########################################
options_min=$options_min" CONFIG_PACKAGE_luci-theme-bootstrap=y"
options_min=$options_min" CONFIG_PACKAGE_kmod-iptunnel4=y"
options_min=$options_min" CONFIG_PACKAGE_luci-app-ffwizard-pberg=y"
options_min=$options_min" CONFIG_PACKAGE_auto-ipv6-node=y"

#########################Freifunk 4MB#############################################
options_4MB=$options_4MB" CONFIG_PACKAGE_luci-theme-bootstrap=y"
options_4MB=$options_4MB" CONFIG_PACKAGE_kmod-sit=y"
options_4MB=$options_4MB" CONFIG_PACKAGE_kmod-ipip=y"
options_4MB=$options_4MB" CONFIG_PACKAGE_kmod-iptunnel4=y"
options_4MB=$options_4MB" CONFIG_PACKAGE_luci-app-ffwizard-pberg=y"
options_4MB=$options_4MB" CONFIG_PACKAGE_luci-mod-admin-mini=y"
options_4MB=$options_4MB" CONFIG_PACKAGE_auto-ipv6-node=y"
options_4MB=$options_4MB" CONFIG_PACKAGE_qos-scripts=y"
options_4MB=$options_4MB" CONFIG_PACKAGE_freifunk-firewall=y"
#options_4MB=$options_4MB" CONFIG_PACKAGE_luci-app-heartbeat=y"
options_4MB=$options_4MB" CONFIG_PACKAGE_freifunk-p2pblock=y"
options_4MB=$options_4MB" CONFIG_PACKAGE_freifunk-gwcheck=y"
options_4MB=$options_4MB" CONFIG_PACKAGE_luci-app-splash=y"
#options_4MB=$options_4MB" CONFIG_PACKAGE_luci-app-custom-splash=y"
options_4MB=$options_4MB" CONFIG_PACKAGE_6in4=y"
options_4MB=$options_4MB" CONFIG_PACKAGE_6to4=y"

#########################Piraten Freifunk###########################################
options_pi=$options_pi" CONFIG_PACKAGE_luci-theme-bootstrap=m"
options_pi=$options_pi" CONFIG_PACKAGE_luci-theme-bootstrap-piraten=y"

#########################Full Freifunk#############################################
options_8MB=$options_8MB" CONFIG_PACKAGE_luci-theme-bootstrap-piraten=y"
options_8MB=$options_8MB" CONFIG_PACKAGE_luci-mod-admin-full=y"
options_8MB=$options_8MB" CONFIG_PACKAGE_luci-app-p2pblock=y"
options_8MB=$options_8MB" CONFIG_PACKAGE_luci-app-qos=y"
options_8MB=$options_8MB" CONFIG_PACKAGE_luci-app-splash=y"
options_8MB=$options_8MB" CONFIG_PACKAGE_luci-app-chat=y"
options_8MB=$options_8MB" CONFIG_PACKAGE_luci-app-statistics=y"
options_8MB=$options_8MB" CONFIG_PACKAGE_luci-app-radvd=m"
options_8MB=$options_8MB" CONFIG_PACKAGE_luci-app-ntpc=y"
options_8MB=$options_8MB" CONFIG_PACKAGE_luci-app-wol=y"
options_8MB=$options_8MB" CONFIG_PACKAGE_luci-app-firewall=y"
options_8MB=$options_8MB" CONFIG_PACKAGE_iwinfo=y"
options_8MB=$options_8MB" CONFIG_PACKAGE_kmod-tun=y"
options_8MB=$options_8MB" CONFIG_PACKAGE_kmod-ppp=y"
options_8MB=$options_8MB" CONFIG_PACKAGE_kmod-pppoe=y"
options_8MB=$options_8MB" CONFIG_PACKAGE_ppp=y"
options_8MB=$options_8MB" CONFIG_PACKAGE_ppp-mod-pppoe=y"
options_8MB=$options_8MB" CONFIG_PACKAGE_ip6tables=y"
options_8MB=$options_8MB" CONFIG_PACKAGE_auto-ipv6-gw=y"
options_8MB=$options_8MB" CONFIG_PACKAGE_uhttpd-mod-tls=y"
options_8MB=$options_8MB" CONFIG_PACKAGE_luci-theme-bootstrap=y"
#options_8MB=$options_8MB" CONFIG_PACKAGE_l2gvpn=y"
#options_8MB=$options_8MB" CONFIG_PACKAGE_openvpn-devel-polarssl=y"
options_8MB=$options_8MB" CONFIG_PACKAGE_kmod-iptunnel4=y"
options_8MB=$options_8MB" CONFIG_PACKAGE_kmod-ath5k=y"
options_8MB=$options_8MB" CONFIG_PACKAGE_hostapd-mini=n"
options_8MB=$options_8MB" CONFIG_PACKAGE_wpad=y"
options_8MB=$options_8MB" CONFIG_PACKAGE_freifunk-gwcheck=y"
options_8MB=$options_8MB" CONFIG_PACKAGE_ws-mirror-server=y"
options_8MB=$options_8MB" CONFIG_PACKAGE_ws-mirror-server-cmd=y"
options_8MB=$options_8MB" CONFIG_PACKAGE_luci-proto-3g=y"
options_8MB=$options_8MB" CONFIG_PACKAGE_luci-proto-6x4=y"
options_8MB=$options_8MB" CONFIG_PACKAGE_luci-proto-ppp=y"
options_8MB=$options_8MB" CONFIG_PACKAGE_luci-proto-relay=y"
options_8MB=$options_8MB" CONFIG_PACKAGE_collectd=y"
options_8MB=$options_8MB" CONFIG_PACKAGE_collectd-mod-exec=y"
options_8MB=$options_8MB" CONFIG_PACKAGE_collectd-mod-interface=y"
options_8MB=$options_8MB" CONFIG_PACKAGE_collectd-mod-iwinfo=y"
options_8MB=$options_8MB" CONFIG_PACKAGE_collectd-mod-network=y"
options_8MB=$options_8MB" CONFIG_PACKAGE_collectd-mod-olsrd=y"
options_8MB=$options_8MB" CONFIG_PACKAGE_collectd-mod-rrdtool=y"
#options_8MB=$options_8MB" CONFIG_PACKAGE_conntrack-tools=y"
options_8MB=$options_8MB" CONFIG_PACKAGE_openssh-sftp-server=y"
options_8MB=$options_8MB" CONFIG_PACKAGE_kmod-gre=y"
options_8MB=$options_8MB" CONFIG_PACKAGE_relayd=y"
options_8MB=$options_8MB" CONFIG_PACKAGE_pptp=y"
options_8MB=$options_8MB" CONFIG_PACKAGE_etherwake=y"
options_8MB=$options_8MB" CONFIG_PACKAGE_resolveip=y"

##USB
options_max=$options_max" CONFIG_PACKAGE_kmod-usb-core=y"
options_max=$options_max" CONFIG_PACKAGE_kmod-usb-ohci=y"
options_max=$options_max" CONFIG_PACKAGE_kmod-usb-uhci=y"
options_max=$options_max" CONFIG_PACKAGE_kmod-usb2=y"
options_max=$options_max" CONFIG_PACKAGE_kmod-nls-base=y"
options_max=$options_max" CONFIG_PACKAGE_kmod-nls-utf8=y"
options_max=$options_max" CONFIG_PACKAGE_kmod-nls-iso8859-1=y"
options_max=$options_max" CONFIG_PACKAGE_kmod-nls-iso8859-15=y"
options_max=$options_max" CONFIG_PACKAGE_kmod-usb-storage=y"
options_max=$options_max" CONFIG_PACKAGE_block-hotplug=y"
options_max=$options_max" CONFIG_PACKAGE_block-mount=y"
options_max=$options_max" CONFIG_PACKAGE_kmod-fs-vfat=y"
options_max=$options_max" CONFIG_PACKAGE_usbutils=y"
options_max=$options_max" CONFIG_PACKAGE_libusb=y"
options_max=$options_max" CONFIG_PACKAGE_libusb-1.0=y"
options_max=$options_max" CONFIG_PACKAGE_zlib=y"
options_max=$options_max" CONFIG_PACKAGE_kmod-usb-serial=y"
options_max=$options_max" CONFIG_PACKAGE_kmod-usb-serial-option=y"
options_max=$options_max" CONFIG_PACKAGE_kmod-usb-acm=y"
options_max=$options_max" CONFIG_PACKAGE_comgt=y"
options_max=$options_max" CONFIG_PACKAGE_chat=y"
options_max=$options_max" CONFIG_PACKAGE_kmod-scsi-core=y"
options_max=$options_max" CONFIG_PACKAGE_usb-modeswitch=y"
options_max=$options_max" CONFIG_PACKAGE_usb-modeswitch-data=y"
options_max=$options_max" CONFIG_PACKAGE_kmod-hid=y"
options_max=$options_max" CONFIG_PACKAGE_kmod-input-core=y"
options_max=$options_max" CONFIG_PACKAGE_kmod-input-evdev=y"
options_max=$options_max" CONFIG_PACKAGE_kmod-usb-hid=y"
options_max=$options_max" CONFIG_PACKAGE_kmod-usb-kbd=y"
options_max=$options_max" CONFIG_PACKAGE_dosfsck=y"
options_max=$options_max" CONFIG_PACKAGE_fdisk=y"
options_max=$options_max" CONFIG_PACKAGE_libblkid=y"
options_max=$options_max" CONFIG_PACKAGE_libuuid=y"
options_max=$options_max" CONFIG_PACKAGE_libext2fs=y"
options_max=$options_max" CONFIG_PACKAGE_e2fsprogs=y"
options_max=$options_max" CONFIG_PACKAGE_kmod-fs-btrfs=y"
options_max=$options_max" CONFIG_PACKAGE_btrfs-progs=y"
options_max=$options_max" CONFIG_PACKAGE_kmod-fs-cifs=y"
options_max=$options_max" CONFIG_PACKAGE_kmod-fs-mbcache=y"
options_max=$options_max" CONFIG_PACKAGE_kmod-fs-ext3=y"
options_max=$options_max" CONFIG_PACKAGE_kmod-fs-ext4=y"
options_max=$options_max" CONFIG_PACKAGE_kmod-crc16=y"
options_max=$options_max" CONFIG_PACKAGE_kmod-fs-hfs=y"
options_max=$options_max" CONFIG_PACKAGE_kmod-fs-hfsplus=y"
options_max=$options_max" CONFIG_PACKAGE_kmod-fs-isofs=y"
options_max=$options_max" CONFIG_PACKAGE_kmod-fs-vfat=y"
options_max=$options_max" CONFIG_PACKAGE_kmod-fs-exportfs=y"
options_max=$options_max" CONFIG_PACKAGE_kmod-fs-xfs=y"
options_max=$options_max" CONFIG_PACKAGE_kmod-crc-itu-t=y"

