 
ver="10.03"
verm="backfire"
boards=$boards" au1000"
boards=$boards" ar71xx"
boards=$boards" x86"
boards=$boards" brcm-2.4"
boards=$boards" atheros"
#buildarch="Darwin-i386"
#buildarch="Linux-i686"
buildarch="Linux-x86_64"
wwwdir="/var/www/cloud.inolares.net/openwrt"
servername="openwrt.cloud.inolares.net"
