CONFIG_TARGET_ar71xx=y
CONFIG_TARGET_ar71xx_generic=y
CONFIG_TARGET_ar71xx_generic_CARAMBOLA2=y
CONFIG_TARGET_ar71xx_generic_Default=n
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_DEVICE_ar71xx_generic_DEVICE_WZR600DHP=y
CONFIG_TARGET_DEVICE_ar71xx_generic_DEVICE_WZRHPG300NH2=y
CONFIG_TARGET_DEVICE_ar71xx_generic_DEVICE_DIR505A1=y
CONFIG_TARGET_DEVICE_ar71xx_generic_DEVICE_gl-inet-6408A-v1=y
CONFIG_TARGET_DEVICE_ar71xx_generic_DEVICE_gl-inet-6416A-v1=y
CONFIG_TARGET_DEVICE_ar71xx_generic_DEVICE_OM2P=y
CONFIG_TARGET_DEVICE_ar71xx_generic_DEVICE_OM5P=y
CONFIG_TARGET_DEVICE_ar71xx_generic_DEVICE_tl-wdr3500-v1=y
CONFIG_TARGET_DEVICE_ar71xx_generic_DEVICE_tl-wdr4310-v1=y
CONFIG_TARGET_DEVICE_ar71xx_generic_DEVICE_tl-wr710n-v2.1=y
CONFIG_TARGET_DEVICE_ar71xx_generic_DEVICE_ubnt-air-gateway=y
CONFIG_TARGET_DEVICE_ar71xx_generic_DEVICE_ubnt-air-gateway-pro=y
CONFIG_TARGET_DEVICE_ar71xx_generic_DEVICE_ubnt-lbe-m5=y
CONFIG_TARGET_DEVICE_ar71xx_generic_DEVICE_ubnt-ls-sr71=y
CONFIG_TARGET_DEVICE_ar71xx_generic_DEVICE_ubnt-nano-m-xw=y
CONFIG_TARGET_DEVICE_ar71xx_generic_DEVICE_ubnt-rocket-m-ti=y
CONFIG_TARGET_DEVICE_ar71xx_generic_DEVICE_ubnt-rocket-m-xw=y
CONFIG_PACKAGE_kmod-ath9k-htc=m
CONFIG_PACKAGE_kmod-ath10k-ct=m
CONFIG_PACKAGE_ath10k-firmware-qca988x-ct=m
CONFIG_PACKAGE_ath10k-firmware-qca9888-ct=m
CONFIG_TARGET_SQUASHFS_BLOCK_SIZE=512
