CONFIG_TARGET_ath79=y
CONFIG_TARGET_ath79_generic=y
CONFIG_TARGET_ath79_generic_Default=y
CONFIG_TARGET_SQUASHFS_BLOCK_SIZE=512
CONFIG_PACKAGE_ath10k-firmware-qca988x=m
CONFIG_PACKAGE_ath10k-firmware-qca988x-ct=m
CONFIG_PACKAGE_ath10k-firmware-qca9888-ct=m
CONFIG_PACKAGE_kmod-ath9k-htc=m
CONFIG_PACKAGE_kmod-ath10k=m
CONFIG_PACKAGE_kmod-ath10k-ct=m
CONFIG_PACKAGE_kmod-usb-chipidea2=m
CONFIG_PACKAGE_kmod-usb-ledtrig-usbport=m
CONFIG_PACKAGE_kmod-usb2=m
CONFIG_PACKAGE_fritz-tffs=m
CONFIG_PACKAGE_fconfig=m
CONFIG_PACKAGE_kmod-leds-reset=m
CONFIG_PACKAGE_kmod-owl-loader=m
