CONFIG_TARGET_ath79=y
CONFIG_TARGET_ath79_tiny=y
CONFIG_TARGET_SQUASHFS_BLOCK_SIZE=512
# CONFIG_TARGET_PER_DEVICE_ROOTFS is not set
# CONFIG_ALL_KMODS is not set
# CONFIG_AUDIO_SUPPORT is not set
# CONFIG_USB_SUPPORT is not set
# CONFIG_KERNEL_CC_OPTIMIZE_FOR_PERFORMANCE is not set
CONFIG_KERNEL_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_PACKAGE_hostapd-basic=m
CONFIG_PACKAGE_hostapd-mini=m
CONFIG_PACKAGE_kmod-batman-adv=m
CONFIG_PACKAGE_wpad-mini=m
# CONFIG_PACKAGE_comgt is not set
# CONFIG_PACKAGE_huaweiaktbbo is not set
# CONFIG_PACKAGE_kmod-ppp is not set
# CONFIG_PACKAGE_luci-proto-ppp is not set
# CONFIG_PACKAGE_ppp is not set
# CONFIG_PACKAGE_ppp-mod-pppoe is not set
# CONFIG_PACKAGE_usb-modeswitch is not set
# CONFIG_PACKAGE_usbutils is not set
# CONFIG_BUSYBOX_CONFIG_FEATURE_MOUNT_CIFS is not set
