CONFIG_TARGET_brcm63xx=y
CONFIG_TARGET_brcm63xx_generic=y
CONFIG_TARGET_brcm63xx_generic_DEVICE_AR5387un=y
CONFIG_KERNEL_RELAY=y
CONFIG_PACKAGE_MAC80211_DEBUGFS=y
CONFIG_PACKAGE_MAC80211_MESH=y
CONFIG_PACKAGE_kmod-ath=y
CONFIG_PACKAGE_kmod-ath10k=y
CONFIG_PACKAGE_kmod-ath5k=y
CONFIG_PACKAGE_kmod-ath9k=y
CONFIG_PACKAGE_kmod-ath9k-common=y
CONFIG_PACKAGE_kmod-ath9k-htc=y
CONFIG_PACKAGE_kmod-rt2800-lib=y
CONFIG_PACKAGE_kmod-rt2800-usb=y
CONFIG_PACKAGE_kmod-rt2x00-lib=y
CONFIG_PACKAGE_kmod-rt2x00-usb=y
CONFIG_TARGET_SQUASHFS_BLOCK_SIZE=512

CONFIG_DEFAULT_kmod-rt2800-lib=y
CONFIG_DEFAULT_kmod-rt2800-usb=y
CONFIG_DEFAULT_kmod-rt2x00-lib=y
CONFIG_DEFAULT_kmod-rt2x00-usb=y
