CONFIG_DEVEL=y
CONFIG_TOOLCHAINOPTS=y
CONFIG_ALFRED_NEEDS_lua=y
CONFIG_ATH_USER_REGD=y
CONFIG_IB=y
CONFIG_IMAGEOPT=y
# CONFIG_KERNEL_DEBUG_INFO is not set
# CONFIG_KERNEL_DEBUG_KERNEL is not set
# CONFIG_KERNEL_KALLSYMS is not set
CONFIG_KMOD_BATMAN_ADV_BLA=y
CONFIG_KMOD_BATMAN_ADV_DAT=y
CONFIG_KMOD_BATMAN_ADV_MCAST=y
CONFIG_OPENVPN_polarssl_ENABLE_LZO=y
CONFIG_OPENVPN_polarssl_ENABLE_SMALL=y
CONFIG_PACKAGE_6in4=m
CONFIG_PACKAGE_6to4=m
CONFIG_PACKAGE_ALFRED_BATHOSTS=y
CONFIG_PACKAGE_ALFRED_VIS=y
CONFIG_PACKAGE_ATH_DFS=y
CONFIG_PACKAGE_alfred=m
CONFIG_PACKAGE_batctl=m
CONFIG_PACKAGE_collectd=m
CONFIG_PACKAGE_collectd-mod-cpu=m
CONFIG_PACKAGE_collectd-mod-exec=m
CONFIG_PACKAGE_collectd-mod-interface=m
CONFIG_PACKAGE_collectd-mod-iwinfo=m
CONFIG_PACKAGE_collectd-mod-load=m
CONFIG_PACKAGE_collectd-mod-memory=m
CONFIG_PACKAGE_collectd-mod-network=m
CONFIG_PACKAGE_collectd-mod-olsrd=m
CONFIG_PACKAGE_collectd-mod-ping=m
CONFIG_PACKAGE_collectd-mod-rrdtool=m
CONFIG_PACKAGE_collectd-mod-uptime=m
CONFIG_PACKAGE_collectd-mod-wireless=m
CONFIG_PACKAGE_community-profiles=m
CONFIG_PACKAGE_ethtool=m
CONFIG_PACKAGE_freifunk-berlin-dhcp-defaults=m
CONFIG_PACKAGE_freifunk-berlin-firewall-defaults=m
CONFIG_PACKAGE_freifunk-berlin-freifunk-defaults=m
CONFIG_PACKAGE_freifunk-berlin-lib-guard=m
CONFIG_PACKAGE_freifunk-berlin-migration=m
CONFIG_PACKAGE_freifunk-berlin-network-defaults=m
CONFIG_PACKAGE_freifunk-berlin-olsrd-defaults=m
CONFIG_PACKAGE_freifunk-berlin-openvpn-files=m
CONFIG_PACKAGE_freifunk-berlin-statistics-defaults=m
CONFIG_PACKAGE_freifunk-berlin-uhttpd-defaults=m
CONFIG_PACKAGE_freifunk-common=m
CONFIG_PACKAGE_freifunk-firewall=m
CONFIG_PACKAGE_freifunk-gwcheck=m
CONFIG_PACKAGE_freifunk-policyrouting=m
CONFIG_PACKAGE_freifunk-watchdog=m
CONFIG_PACKAGE_horst=m
CONFIG_PACKAGE_ip=m
CONFIG_PACKAGE_iperf=m
CONFIG_PACKAGE_iptables-mod-conntrack-extra=m
CONFIG_PACKAGE_iptables-mod-filter=m
CONFIG_PACKAGE_iptables-mod-ipopt=m
CONFIG_PACKAGE_iwinfo=m
CONFIG_PACKAGE_kmod-batman-adv=m
CONFIG_PACKAGE_kmod-crypto-crc32c=m
CONFIG_PACKAGE_kmod-crypto-hash=m
CONFIG_PACKAGE_kmod-fs-cifs=m
CONFIG_PACKAGE_kmod-fs-ext4=m
CONFIG_PACKAGE_kmod-fs-vfat=m
CONFIG_PACKAGE_kmod-ifb=m
CONFIG_PACKAGE_kmod-ipip=m
CONFIG_PACKAGE_kmod-ipt-conntrack-extra=m
CONFIG_PACKAGE_kmod-ipt-filter=m
CONFIG_PACKAGE_kmod-ipt-ipopt=m
CONFIG_PACKAGE_kmod-iptunnel=m
CONFIG_PACKAGE_kmod-iptunnel4=m
CONFIG_PACKAGE_kmod-ledtrig-usbdev=y
CONFIG_PACKAGE_kmod-lib-crc-itu-t=m
CONFIG_PACKAGE_kmod-lib-crc16=m
CONFIG_PACKAGE_kmod-lib-crc32c=m
CONFIG_PACKAGE_kmod-lib-textsearch=m
CONFIG_PACKAGE_kmod-nls-utf8=m
CONFIG_PACKAGE_kmod-nls-iso8859-1=m
CONFIG_PACKAGE_kmod-nls-iso8859-15=m
# CONFIG_PACKAGE_kmod-ppp is not set
CONFIG_PACKAGE_kmod-sched-connmark=m
CONFIG_PACKAGE_kmod-sched-core=m
CONFIG_PACKAGE_kmod-sit=m
CONFIG_PACKAGE_kmod-tun=m
CONFIG_PACKAGE_kmod-usb-acm=m
CONFIG_PACKAGE_kmod-usb-net=m
CONFIG_PACKAGE_kmod-usb-net-cdc-ether=m
CONFIG_PACKAGE_kmod-usb-net-rndis=m
CONFIG_PACKAGE_kmod-usb-ohci=y
CONFIG_PACKAGE_kmod-usb-serial=m
CONFIG_PACKAGE_kmod-usb-serial-option=m
CONFIG_PACKAGE_kmod-usb-serial-wwan=m
CONFIG_PACKAGE_kmod-usb-storage=m
CONFIG_PACKAGE_libevent2=m
CONFIG_PACKAGE_libiwinfo=m
CONFIG_PACKAGE_libiwinfo-lua=m
CONFIG_PACKAGE_libltdl=m
CONFIG_PACKAGE_liblua=m
CONFIG_PACKAGE_liblzo=m
CONFIG_PACKAGE_libncurses=m
CONFIG_PACKAGE_liboping=m
CONFIG_PACKAGE_libpcap=m
CONFIG_PACKAGE_libpolarssl=m
CONFIG_PACKAGE_libpthread=m
CONFIG_PACKAGE_librrd1=m
CONFIG_PACKAGE_librt=m
CONFIG_PACKAGE_libubus-lua=m
CONFIG_PACKAGE_libuci-lua=m
CONFIG_PACKAGE_libustream-polarssl=m
CONFIG_PACKAGE_lua=m
CONFIG_PACKAGE_luci-app-ffwizard-berlin=m
CONFIG_PACKAGE_luci-app-ffwizard-pberg=m
CONFIG_PACKAGE_luci-app-firewall=m
CONFIG_PACKAGE_luci-app-olsr=m
CONFIG_PACKAGE_luci-app-olsr-services=m
CONFIG_PACKAGE_luci-app-olsr-viz=m
CONFIG_PACKAGE_luci-app-openvpn=m
CONFIG_PACKAGE_luci-app-owm=m
CONFIG_PACKAGE_luci-app-owm-ant=m
CONFIG_PACKAGE_luci-app-owm-cmd=m
CONFIG_PACKAGE_luci-app-owm-gui=m
CONFIG_PACKAGE_luci-app-splash=m
CONFIG_PACKAGE_luci-app-statistics=m
CONFIG_PACKAGE_luci-base=m
CONFIG_PACKAGE_luci-i18n-german=m
CONFIG_PACKAGE_luci-lib-httpclient=m
CONFIG_PACKAGE_luci-lib-json=m
CONFIG_PACKAGE_luci-lib-luaneightbl=m
CONFIG_PACKAGE_luci-lib-nixio=m
CONFIG_PACKAGE_luci-mod-admin-full=m
CONFIG_PACKAGE_luci-mod-freifunk=m
CONFIG_PACKAGE_luci-theme-bootstrap=m
CONFIG_PACKAGE_mtr=m
CONFIG_PACKAGE_olsrd=m
CONFIG_PACKAGE_olsrd-mod-arprefresh=m
CONFIG_PACKAGE_olsrd-mod-dot-draw=m
CONFIG_PACKAGE_olsrd-mod-dyn-gw=m
CONFIG_PACKAGE_olsrd-mod-dyn-gw-plain=m
CONFIG_PACKAGE_olsrd-mod-jsoninfo=m
CONFIG_PACKAGE_olsrd-mod-nameservice=m
CONFIG_PACKAGE_olsrd-mod-txtinfo=m
CONFIG_PACKAGE_olsrd-mod-watchdog=m
CONFIG_PACKAGE_om-watchdog=m
CONFIG_PACKAGE_oonf-dlep-proxy=m
CONFIG_PACKAGE_oonf-dlep-radio=m
CONFIG_PACKAGE_oonf-olsrd2=m
CONFIG_PACKAGE_openvpn-polarssl=m
# CONFIG_PACKAGE_ppp is not set
CONFIG_PACKAGE_px5g=m
CONFIG_PACKAGE_qos-scripts=m
CONFIG_PACKAGE_rrdtool1=m
CONFIG_PACKAGE_rssileds=m
CONFIG_PACKAGE_tc=m
CONFIG_PACKAGE_tcpdump=m
CONFIG_PACKAGE_tcpdump-mini=m
CONFIG_PACKAGE_terminfo=m
CONFIG_PACKAGE_tmux=m
CONFIG_PACKAGE_uclibcxx=m
CONFIG_PACKAGE_uhttpd=m
CONFIG_PACKAGE_uhttpd-mod-tls=m
CONFIG_PACKAGE_uhttpd-mod-tls_polarssl=y
CONFIG_PACKAGE_uhttpd-mod-ubus=m
CONFIG_PACKAGE_vnstat=m
CONFIG_PACKAGE_wpad=m
CONFIG_PACKAGE_zlib=m
CONFIG_SDK=y
CONFIG_SSP_SUPPORT=y
CONFIG_STRIP_KERNEL_EXPORTS=y
CONFIG_VERSIONOPT=y
CONFIG_VERSION_DIST="Freifunk Berlin"
CONFIG_VERSION_HWREV=""
CONFIG_VERSION_MANUFACTURER=""
CONFIG_VERSION_NICK="kathleen"
CONFIG_VERSION_NUMBER="0.2.0-alpha"
CONFIG_VERSION_PRODUCT=""
CONFIG_VERSION_REPO="http://buildbot.berlin.freifunk.net/buildbot/stable/%V/%T/packages"
# CONFIG_OPENVPN_polarssl_ENABLE_DEF_AUTH is not set
# CONFIG_OPENVPN_polarssl_ENABLE_FRAGMENT is not set
# CONFIG_OPENVPN_polarssl_ENABLE_HTTP is not set
# CONFIG_OPENVPN_polarssl_ENABLE_MULTIHOME is not set
# CONFIG_OPENVPN_polarssl_ENABLE_PF is not set
# CONFIG_OPENVPN_polarssl_ENABLE_PORT_SHARE is not set
# CONFIG_OPENVPN_polarssl_ENABLE_SERVER is not set
# CONFIG_OPENVPN_polarssl_ENABLE_SOCKS is not set
CONFIG_PACKAGE_kmod-lib-crc-ccitt=y
