CONFIG_DEVEL=y
CONFIG_TOOLCHAINOPTS=y
CONFIG_ATH_USER_REGD=y
CONFIG_IB=y
CONFIG_IMAGEOPT=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_ALL_PROFILES=y
# CONFIG_TARGET_ROOTFS_INITRAMFS is not set
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
# CONFIG_KERNEL_DEBUG_INFO is not set
# CONFIG_KERNEL_DEBUG_KERNEL is not set
# CONFIG_KERNEL_KALLSYMS is not set
CONFIG_ALL_KMODS=y
CONFIG_BUSYBOX_CUSTOM=y
# CONFIG_BUSYBOX_CONFIG_MKSWAP is not set
# CONFIG_BUSYBOX_CONFIG_SWAPOFF is not set
# CONFIG_BUSYBOX_CONFIG_SWAPON is not set
CONFIG_BUSYBOX_CONFIG_TELNET=y
CONFIG_BUSYBOX_CONFIG_FEATURE_TELNET_TTYPE=y
CONFIG_BUSYBOX_CONFIG_FEATURE_TRACEROUTE_USE_ICMP=y
CONFIG_PACKAGE_6in4=m
CONFIG_PACKAGE_ATH_DFS=y
CONFIG_PACKAGE_diffutils=m
CONFIG_PACKAGE_ethtool=m
CONFIG_PACKAGE_firewall=m
CONFIG_PACKAGE_ip=m
CONFIG_PACKAGE_iperf=m
CONFIG_PACKAGE_iperf3=m
CONFIG_PACKAGE_ipip=m
CONFIG_PACKAGE_iptables-mod-conntrack-extra=m
CONFIG_PACKAGE_iptables-mod-filter=m
CONFIG_PACKAGE_iptables-mod-ipopt=m
CONFIG_PACKAGE_iwinfo=m
CONFIG_PACKAGE_libevent2=m
CONFIG_PACKAGE_libiwinfo=m
CONFIG_PACKAGE_libiwinfo-lua=m
CONFIG_PACKAGE_libltdl=m
CONFIG_PACKAGE_liblua=m
CONFIG_PACKAGE_liblzo=m
CONFIG_PACKAGE_libncurses=m
CONFIG_PACKAGE_liboping=m
CONFIG_PACKAGE_libpcap=m
CONFIG_PACKAGE_libpthread=m
CONFIG_PACKAGE_librt=m
CONFIG_PACKAGE_libubus-lua=m
CONFIG_PACKAGE_libuci-lua=m
CONFIG_PACKAGE_libustream-mbedtls=m
CONFIG_PACKAGE_lua=m
CONFIG_PACKAGE_luci-app-firewall=m
CONFIG_PACKAGE_luci-app-opkg=m
CONFIG_PACKAGE_luci-app-openvpn=m
CONFIG_PACKAGE_luci-app-wifischedule=m
CONFIG_PACKAGE_luci-app-vpnbypass=m
CONFIG_PACKAGE_luci-base=m
CONFIG_PACKAGE_luci-lib-httpclient=m
CONFIG_PACKAGE_luci-lib-json=m
CONFIG_PACKAGE_luci-lib-luaneightbl=m
CONFIG_PACKAGE_luci-lib-nixio=m
CONFIG_PACKAGE_luci-mod-admin-full=m
CONFIG_PACKAGE_luci-mod-failsafe=y
CONFIG_PACKAGE_luci-proto-ipip=m
CONFIG_PACKAGE_luci-proto-ppp=m
CONFIG_PACKAGE_luci-theme-bootstrap=y
CONFIG_PACKAGE_mtr=m
CONFIG_PACKAGE_opkg=m
CONFIG_PACKAGE_openvpn-mbedtls=m
CONFIG_PACKAGE_patch=m
CONFIG_PACKAGE_ppp=m
CONFIG_PACKAGE_ppp-mod-pppoe=m
CONFIG_PACKAGE_px5g-mbedtls=m
CONFIG_PACKAGE_qos-scripts=m
CONFIG_PACKAGE_rssileds=m
CONFIG_PACKAGE_tcpdump=m
CONFIG_PACKAGE_tcpdump-mini=m
CONFIG_PACKAGE_terminfo=m
CONFIG_PACKAGE_tmux=m
CONFIG_PACKAGE_uclibcxx=m
CONFIG_PACKAGE_uhttpd=y
CONFIG_PACKAGE_uhttpd-mod-ubus=m
CONFIG_PACKAGE_usbutils=m
CONFIG_PACKAGE_vnstat=m
CONFIG_PACKAGE_wpad-basic=m
CONFIG_PACKAGE_zlib=m
CONFIG_PREINITOPT=y
CONFIG_SDK=y
CONFIG_STRIP_KERNEL_EXPORTS=y
CONFIG_VERSIONOPT=y
CONFIG_VERSION_FILENAMES=y
CONFIG_VERSION_CODE_FILENAMES=y
CONFIG_VERSION_DIST="OpenWrt builder"
CONFIG_VERSION_HWREV=""
CONFIG_VERSION_MANUFACTURER=""
CONFIG_VERSION_NUMBER="Development"
CONFIG_VERSION_CODE=""
CONFIG_VERSION_PRODUCT=""
CONFIG_LUCI_SRCDIET=y
CONFIG_LUCI_LANG_de=m
CONFIG_LUCI_LANG_en=m
# CONFIG_KERNEL_SWAP is not set
# CONFIG_OPENVPN_mbedtls_ENABLE_LZ4 is not set
# CONFIG_OPENVPN_mbedtls_ENABLE_SERVER is not set
# CONFIG_OPENVPN_mbedtls_ENABLE_HTTP is not set
# CONFIG_OPENVPN_mbedtls_ENABLE_SOCKS is not set
# CONFIG_OPENVPN_mbedtls_ENABLE_FRAGMENT is not set
# CONFIG_OPENVPN_mbedtls_ENABLE_MULTIHOME is not set
# CONFIG_OPENVPN_mbedtls_ENABLE_PORT_SHARE is not set
# CONFIG_OPENVPN_mbedtls_ENABLE_DEF_AUTH is not set
# CONFIG_OPENVPN_mbedtls_ENABLE_PF is not set
