CONFIG_TARGET_lantiq=y
CONFIG_TARGET_lantiq_xrx200=y
CONFIG_PACKAGE_kmod-ath9k=m
CONFIG_PACKAGE_kmod-ltq-adsl-ar9-mei=m
CONFIG_PACKAGE_kmod-ltq-adsl-ar9=m
CONFIG_PACKAGE_kmod-ltq-adsl-ar9-fw-b=m
CONFIG_PACKAGE_kmod-ltq-atm-ar9=m
CONFIG_PACKAGE_kmod-ltq-deu-ar9=m
CONFIG_PACKAGE_kmod-ltq-tapi=m
CONFIG_PACKAGE_kmod-owl-loader=m
CONFIG_PACKAGE_kmod-usb-dwc2=m
CONFIG_PACKAGE_kmod-ltq-vmmc=m
CONFIG_PACKAGE_fritz-tffs-nand=m
CONFIG_PACKAGE_fritz-caldata=m
CONFIG_PACKAGE_ltq-adsl-app=m
CONFIG_PACKAGE_ppp-mod-pppoa=m




