CONFIG_TARGET_mvebu=y
CONFIG_TARGET_mvebu_Default=y
CONFIG_PACKAGE_kmod-mwifiex-sdio=m
CONFIG_PACKAGE_kmod-btmrvl=m
CONFIG_PACKAGE_kmod-ath9k-htc=m
CONFIG_PACKAGE_kmod-ath10k=m
CONFIG_PACKAGE_ath10k-firmware-qca988x=m
CONFIG_PACKAGE_kmod-rt2800-lib=m
CONFIG_PACKAGE_kmod-rt2800-usb=m
CONFIG_PACKAGE_kmod-rt2x00-lib=m
CONFIG_PACKAGE_kmod-rt2x00-usb=m
