CONFIG_TARGET_mvebu=y
CONFIG_TARGET_mvebu_cortexa9=y
CONFIG_TARGET_ROOTFS_INITRAMFS=y
CONFIG_PACKAGE_kmod-ath9k=m
CONFIG_PACKAGE_kmod-ath10k=m
CONFIG_PACKAGE_kmod-ath10k-ct=m
CONFIG_PACKAGE_mwlwifi-firmware-88w8864=m
CONFIG_PACKAGE_mwlwifi-firmware-88w8964=m
CONFIG_PACKAGE_ath10k-firmware-qca988x=m
CONFIG_PACKAGE_ath10k-firmware-qca988x-ct=m
