CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_Default=y
CONFIG_PACKAGE_kmod-ata-ahci=m
CONFIG_PACKAGE_kmod-ata-core=m
CONFIG_PACKAGE_kmod-ath9k-htc=n
CONFIG_PACKAGE_kmod-mt76=m
CONFIG_PACKAGE_kmod-i2c-gpio=m
CONFIG_PACKAGE_kmod-i2c-gpio-custom=m
CONFIG_PACKAGE_kmod-i2c-mt7621=m
CONFIG_PACKAGE_kmod-i2c-algo-bit=m
CONFIG_PACKAGE_kmod-i2c-algo-pca=m
CONFIG_PACKAGE_kmod-gpio-beeper=m
CONFIG_PACKAGE_kmod-gpio-pca953x=m
CONFIG_PACKAGE_uboot-envtools=m
