CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_generic=y
CONFIG_TARGET_x86_generic_Generic=y
CONFIG_KERNEL_RELAY=y
CONFIG_PACKAGE_MAC80211_DEBUGFS=y
CONFIG_PACKAGE_MAC80211_MESH=y
CONFIG_PACKAGE_kmod-ath=m
CONFIG_PACKAGE_kmod-ath10k=m
CONFIG_PACKAGE_kmod-ath5k=m
CONFIG_PACKAGE_kmod-ath9k=m
CONFIG_PACKAGE_kmod-ath9k-common=m
CONFIG_PACKAGE_kmod-ath9k-htc=m
CONFIG_PACKAGE_kmod-rt2800-lib=m
CONFIG_PACKAGE_kmod-rt2800-usb=m
CONFIG_PACKAGE_kmod-rt2x00-lib=m
CONFIG_PACKAGE_kmod-rt2x00-usb=m
